@model RealEstate.ViewModel.PlaceBidViewModel

@{
    ViewData["Title"] = "Place Bid";
}

<h2>Place Bid for @Model.PropertyTitle</h2>
<h4>Price: ₹@Model.Price</h4>

<form asp-action="Place" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="PropertyId" />
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="BidAmount"></label>
        <input asp-for="BidAmount" class="form-control" />
        <span asp-validation-for="BidAmount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit Bid</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}