@model Propertyviews
@{
    Layout = "_Layout";
   
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var userid = Context.Session.GetString("UserID");
}


<form method="post" enctype="multipart/form-data">

    <h1>Add Property</h1>

    @* User id <input type="text" asp-for="UserId" readonly value="@userid" /><br /> *@
    @* <input type="hidden" asp-for="UserId" value="@userid" /> *@
    <input type="hidden" asp-for="Status" value="Not Approved" />


    

    @* description <textarea asp-for="Description"></textarea><br /> *@
    description <input type="text" asp-for="Description"><br />
    <span asp-validation-for="Description" class="text-danger"></span>

    price <input  type="number" asp-for="Price"/><br />
    <span asp-validation-for="Price" class="text-danger"></span>

    @* Address <textarea asp-for="Address"></textarea><br /> *@
    Address <input type="text" asp-for="Address" /><br />
    <span asp-validation-for="Address" class="text-danger"></span>

    city <input type="text" asp-for="City" /><br />
    <span asp-validation-for="City" class="text-danger"></span>

    state <input type="text" asp-for="State" /><br />
    <span asp-validation-for="State" class="text-danger"></span>

    zipcode<input type="text" asp-for="ZipCode" /><br />
    <span asp-validation-for="ZipCode" class="text-danger"></span>

    PropertyType
    <select asp-for="PropertyType" class="form-control">
        @* <option value="">-- Select Property Type --</option>
        <option value="Apartment">Apartment</option>
        <option value="Independent House">Independent House</option>
        <option value="Villa">Villa</option>
        <option value="Plot">Plot / Land</option>
        <option value="Builder Floor">Builder Floor</option>
        <option value="Farmhouse">Farmhouse</option>
        <option value="Studio Apartment">Studio Apartment</option>
        <option value="Office Space">Office Space</option>
        <option value="Shop">Shop / Showroom</option>
        <option value="Warehouse">Warehouse</option>
        <option value="Industrial Building">Industrial Building</option> *@


      
        <option >Apartment</option>
        <option >Independent House</option>
        <option >Plot / Land</option>
        <option >Builder Floor</option>
        <option >Villa</option>
       



    </select><br />
    <span asp-validation-for="PropertyType" class="text-danger"></span>

    pics <input type="file" asp-for="Pimg" multiple />
    <span asp-validation-for="Pimg" class="text-danger"></span><br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>






