@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}



<h2>Seller Dashboard</h2>

<div class="mb-3">
    <a href="@Url.Action("AddProperty", "Seller")" class="btn btn-primary">
        Add Property
    </a>

    <a href="@Url.Action("MyProperties", "Seller")" class="btn btn-success ms-2">
        View My Properties
    </a>
</div>






